.modal-content {
  width: 32vw;
}
.modalContainer__body {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 30vh;
  border-radius: 20px;
  background-color: rgb(58, 56, 56);
  opacity: 0.89;
  color: white;
}

.loadingModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  z-index: 999;
  right: 0;
}

@media only screen and (max-width: 960px) {
  .modal-content {
    width: 50vw;
  }
  .modalContainer__body {
    min-height: 32vh;
  }
}
@media only screen and (max-width: 760px) {
  .modal-content {
    width: 70vw;
  }
  .modalContainer__body {
    min-height: 35vh;
  }
}
@media only screen and (max-width: 400px) {
  .modal-content {
    width: 90vw;
  }
  .modalContainer__body {
    min-height: 38vh;
  }
}
